In [23]:
import sys
import pandas as pd
import pickle
sys.path.append('../twc_api/')
import boto3
import json
%load_ext autoreload
%autoreload 2
%reload_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
session = boto3.Session(profile_name='twc')
s3 = session.resource('s3')

In [9]:
from api.utils.transformers import *
from api.utils.aws import *

In [10]:
from scipy.stats import spearmanr
from sklearn.ensemble import ExtraTreesRegressor

In [11]:
ConsolidateTablesTransformer(count_encode=False)

# First recreate the model we've been using to date

### Generate Training Data

In [27]:
generator = TrainingDataGenerator('../../Welcome-Centre-DataCorps-Data/ClientDatabaseStructure.mdb.sqlite')
training_data = generator.get_training_data(limit=100000)

In [28]:
json_tables = {k: v.to_json(orient='records') for k, v in training_data.items()}

### Build your Transformer and Choose Features

In [29]:
features_to_split = []

transformer = TransformerPipeline([
                        ConsolidateTablesTransformer(count_encode=False),
                        AddFutureReferralTargetFeatures(),
                        TimeFeatureTransformer(break_length=28),
                        SplitCurrentAndEverTransformer(['referralissue_', 
                                                       'referraldomesticcircumstances_',
                                                        'referralreason_', 'referralbenefit_'])
                                    ], aligner=AlignFeaturesToColumnSchemaTransformer())

X, y, referral_table = transformer.fit_transform(training_data)

X = X.fillna(0)

In [30]:
X_train = X[X.index < 13500]
X_test = X[X.index >= 13500]
y_train = y.loc[X_train.index]
y_test = y.loc[X_test.index]

# Build a model

In [31]:
from sklearn.ensemble import ExtraTreesRegressor

In [32]:
et = ExtraTreesRegressor(n_jobs=-1, n_estimators=500)
et.fit(X_train, y_train)

ExtraTreesRegressor(bootstrap=False, criterion='mse', max_depth=None,
          max_features='auto', max_leaf_nodes=None,
          min_impurity_decrease=0.0, min_impurity_split=None,
          min_samples_leaf=1, min_samples_split=2,
          min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=-1,
          oob_score=False, random_state=None, verbose=0, warm_start=False)

# Evaluate model

In [33]:
y_pred = pd.Series(et.predict(X_test), X_test.index)

In [34]:
test_referral_table = referral_table.loc[X_test.index]

In [38]:
def get_scores_per_window(x, y, group, threshold=0.5):
    corr = spearmanr(x, y)[0]
    mu_a = x.groupby(group).mean()
    mu_p = y.groupby(group).mean()
    mu_a_top = mu_a[mu_a.rank(ascending=False) / len(mu_a) < threshold]
    mu_p_top = mu_p[mu_p.rank(ascending=False) / len(mu_p) < threshold]
    overlap = mu_p_top.index.isin(mu_a_top.index).mean()
    return pd.Series([corr, overlap], index=['spearman', 'overlap'])

In [39]:
def evaluate_average_weekly_rank_correlation(test_referral_table, y_test, y_pred):
    grouped_y = test_referral_table.assign(y=y_test, pred=y_pred).set_index('referral_referraltakendate')\
        .groupby([pd.TimeGrouper('1W'), 'client_clientid'])['y'].mean()
    grouped_pred_y = test_referral_table.assign(y=y_test, pred=y_pred).set_index('referral_referraltakendate')\
        .groupby([pd.TimeGrouper('1W'), 'client_clientid'])['pred'].mean()
    time_grouped = pd.concat([grouped_y, grouped_pred_y], axis=1)
    return time_grouped.reset_index().groupby(['referral_referraltakendate']).\
        apply(lambda k: get_scores_per_window(k['y'], k['pred'], k['client_clientid'])).dropna().mean()

In [40]:
evaluate_average_weekly_rank_correlation(test_referral_table, y_test, y_pred)

/Users/davidsykes/.virtualenvs/twc/lib/python3.5/site-packages/ipykernel_launcher.py:2: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)

/Users/davidsykes/.virtualenvs/twc/lib/python3.5/site-packages/ipykernel_launcher.py:3: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/davidsykes/.virtualenvs/twc/lib/python3.5/site-packages/numpy/lib/function_base.py:3183: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[:, None]
/Users/davidsykes/.virtualenvs/twc/lib/python3.5/site-packages/numpy/lib/function_base.py:3184: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[None, :]
/Users/davidsykes/.virtualenvs/twc/lib/python3.5/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
/Users/davidsykes/.virtualenvs/twc/lib/python3.5/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
/Users/davidsykes/.virtualenvs/twc/lib/python3.5/site-packages/scipy/stats/_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

spearman    0.500569
overlap     0.665357
dtype: float64

In [42]:
referral_table[referral_table['client_clientid'].isnull()]

Empty DataFrame
Columns: [referral_statusid, referral_referralonhold, referral_referraltakendate, referral_referralreadydate, referral_referralcollecteddate, referral_referralworkerid, referral_referralhandedworkerid, referral_clientid, referral_partnername, referral_partnerid, referral_dependantdetails, referral_ethnicityid, referral_addresslocalityid, referral_addresstypeid, referral_referralagencyid, referral_referralagencyworkername, referral_referralagencytelephonenumber, referral_dietaryextranotes, referral_referralnotes, referral_updatetimestamp, client_clientid, reference_date, futurereferraltargetfeature_futurereferralcount, futurereferraltargetfeature_futurereferralscore, futurereferraltargetfeature_futurereferralgaps, timefeature_referralnumber, timefeature_burstnumber, timefeature_totalreferralsforclient]
Index: []

[0 rows x 28 columns]

# Try and recreate the same using the auto-retrain logic

In [23]:
from api.resources.retrain import train_model_from_json
from api.resources.retrain import construct_full_tables

In [63]:
def process_referral_table(referral_table):
    referral_table['referraltakendate'] = pd.to_datetime(referral_table['referraltakendate'])
    referral_table = referral_table.set_index('referralinstanceid')
    referral_table = referral_table.add_prefix('referral_')
    return referral_table

process_referral_table(tables['referral'])

,referral_addresslocalityid,referral_addresstypeid,referral_clientid,referral_dependantnumber,referral_ethnicityid,referral_livingwithpartner,referral_partnerid,referral_referralagencyid,referral_referralcollecteddate,referral_referralhandedworkerid,referral_referralpreparedworkerid,referral_referralreadydate,referral_referraltakendate,referral_referralworkerid,referral_statusid,referral_updatetimestamp
referralinstanceid,,,,,,,,,,,,,,,,
12,6,4,10,0,1,0,None,31,01/13/14 00:00:00,NaN,NaN,01/13/14 00:00:00,2014-01-13 00:00:00,4,3,04/01/14 09:53:43
13,6,1,10,0,1,0,None,86,02/03/14 00:00:00,NaN,NaN,02/03/14 00:00:00,2014-02-03 00:00:00,4,3,04/01/14 09:53:43
2631,6,1,10,0,1,0,None,32,06/09/14 15:31:00,7,7,06/09/14 15:31:00,2014-06-09 15:31:00,7,3,06/09/14 15:31:52
2733,6,1,10,0,1,0,None,86,06/16/14 15:46:00,7,7,06/16/14 15:46:00,2014-06-16 15:46:00,7,3,06/16/14 15:46:05
2873,6,1,10,0,1,0,None,86,06/23/14 16:42:00,7,7,06/23/14 16:42:00,2014-06-23 16:42:00,7,3,06/23/14 16:42:17
14956,6,4,10,0,1,0,None,65,10/18/16 13:06:00,26,26,10/18/16 13:06:00,2016-10-18 11:24:00,15,3,10/18/16 13:06:42
15293,NaN,4,10,0,1,0,None,89,11/08/16 16:46:00,1,1,11/08/16 16:46:00,2016-11-08 12:32:00,1,3,11/08/16 16:46:33
15739,NaN,2,10,0,1,0,None,136,12/02/16 15:29:00,26,26,12/02/16 15:29:00,2016-12-02 14:09:00,8,3,12/02/16 15:29:51
18,11,1,13,2,1,0,None,77,02/05/14 00:00:00,NaN,NaN,02/05/14 00:00:00,2014-02-05 00:00:00,4,3,04/01/14 09:54:22
9083,11,1,13,2,10,0,None,86,09/11/15 00:00:00,1,1,09/11/15 00:00:00,2015-09-11 10:25:00,1,3,09/15/15 10:57:07
20,30,1,15,1,8,0,None,10,01/14/14 00:00:00,NaN,NaN,01/14/14 00:00:00,2014-01-14 00:00:00,4,3,04/01/14 09:54:22
21,30,1,15,1,8,0,None,60,03/12/14 00:00:00,NaN,NaN,03/12/14 00:00:00,2014-03-12 00:00:00,4,3,04/01/14 09:54:22
1620,30,1,15,1,8,0,None,10,04/02/14 15:32:00,7,NaN,04/02/14 15:32:00,2014-04-02 00:00:00,7,3,04/02/14 15:32:07
5096,30,1,15,1,8,0,None,10,11/25/14 16:51:00,1,1,11/25/14 16:51:00,2014-11-25 09:57:00,5,3,11/25/14 16:51:19
10525,30,1,15,1,8,0,None,86,12/11/15 15:53:00,3,3,12/11/15 15:53:00,2015-12-11 13:05:00,6,3,12/11/15 15:53:50
29,85,1,18,0,16,0,None,53,02/10/14 00:00:00,NaN,NaN,02/10/14 00:00:00,2014-02-10 00:00:00,4,3,04/01/14 09:54:23
30,85,1,18,0,16,0,None,59,02/19/14 00:00:00,NaN,NaN,02/19/14 00:00:00,2014-02-19 00:00:00,4,3,04/01/14 09:54:23
31,85,1,18,0,16,0,None,86,03/11/14 00:00:00,NaN,NaN,03/11/14 00:00:00,2014-03-11 00:00:00,4,3,04/01/14 09:54:23
4155,85,1,18,0,16,0,None,59,09/19/14 16:58:00,1,1,09/19/14 16:58:00,2014-09-19 10:39:00,5,3,09/19/14 16:58:40
7256,85,1,18,0,16,0,None,106,04/22/15 00:00:00,5,5,04/22/15 00:00:00,2015-04-22 13:00:00,13,3,04/23/15 10:39:06
9619,85,1,18,0,16,0,None,106,10/19/15 16:44:00,13,13,10/19/15 16:44:00,2015-10-19 13:45:00,1,3,02/04/16 13:57:33
11338,11,1,18,0,16,1,None,106,02/04/16 16:20:00,1,1,02/04/16 16:20:00,2016-02-04 13:59:00,1,3,02/04/16 16:20:44
12374,11,1,18,0,16,1,None,59,04/15/16 16:49:00,13,13,04/15/16 16:49:00,2016-04-15 14:23:00,13,3,04/15/16 16:49:45
14023,NaN,3,18,0,16,1,None,59,08/17/16 16:23:00,1,1,08/17/16 16:23:00,2016-08-17 12:16:00,1,3,08/17/16 16:23:31
14080,NaN,4,18,0,16,1,None,59,08/19/16 15:40:00,1,1,08/19/16 15:40:00,2016-08-19 14:16:00,1,3,08/19/16 15:40:19
14988,NaN,1,18,0,16,1,None,145,10/19/16 16:07:00,26,26,10/19/16 16:07:00,2016-10-19 14:20:00,27,3,10/19/16 16:07:41
15302,133,1,18,0,16,1,None,86,11/08/16 16:46:00,1,1,11/08/16 16:46:00,2016-11-08 14:45:00,6,3,11/08/16 16:46:25
15532,133,1,18,0,16,1,None,59,11/22/16 15:58:00,26,26,11/22/16 15:58:00,2016-11-22 14:16:00,21,3,11/22/16 15:58:29
41,NaN,4,23,0,1,0,None,55,02/07/14 00:00:00,NaN,NaN,02/07/14 00:00:00,2014-02-07 00:00:00,4,3,04/01/14 09:54:24
1623,NaN,4,23,0,1,0,None,55,04/02/14 15:42:00,7,NaN,04/02/14 15:42:00,2014-04-02 00:00:00,7,3,04/02/14 15:42:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23582,37,1,6887,0,None,0,None,31,02/21/18 14:47:00,26,26,02/21/18 14:47:00,2018-02-21 14:26:00,34,3,02/21/18 14:47:30
23596,6,1,6888,0,1,1,None,86,02/22/18 12:05:00,26,26,02/22/18 12:05:00,2018-02-22 11:03:00,8,3,02/22/18 12:05:40
23601,151,1,6889,2,4,1,None,86,02/22/18 14:17:00,26,26,02/22/18 14:17:00,2018-02-22 12:35:00,8,3,02/22/18 14:17:26
23603,None,2,6890,3,16,1,None,103,02/22/18 16:14:00,26,26,02/22/18 16:02:00,2018-02-22 12:48:00,8,3,02/22/18 16:14:42
23604,111,1,6891,0,None,0,None,86,02/22/18 14:06:00,26,26,02/22/18 14:06:00,2018-02-22 13:00:00,32,3,02/22/18 14:06:39
24183,111,1,6891,0,None,0,None,86,03/19/18 12:42:00,26,26,03/19/18 12:42:00,2018-03-19 12:14:00,30,3,03/19/18 12:42:23
24468,111,1,6891,0,None,0,None,86,04/03/18 12:14:00,26,26,04/03/18 12:14:00,2018-04-03 10:50:00,19,3,04/03/18 12:13:20
25461,111,1,6891,0,None,0,None,86,05/17/18 12:34:00,26,26,05/17/18 12:34:00,2018-05-17 11:02:00,19,3,05/17/18 12:34:17
23610,37,None,6892,0,None,0,None,66,None,None,34,02/22/18 00:00:00,2018-02-22 14:47:00,12,5,03/09/18 16:17:09
23621,None,None,6894,0,18,0,None,154,02/23/18 11:36:00,26,26,02/23/18 11:35:00,2018-02-23 10:13:00,33,3,02/23/18 11:36:01
23622,None,7,6895,0,1,0,None,89,None,None,1,02/23/18 00:00:00,2018-02-23 10:46:00,30,5,02/26/18 13:50:22
23633,None,None,6896,0,17,0,None,117,02/23/18 15:00:00,26,26,02/23/18 15:00:00,2018-02-23 13:13:00,33,3,02/23/18 15:00:26
23779,None,None,6896,0,17,0,None,117,03/02/18 14:57:00,26,26,03/02/18 14:57:00,2018-03-02 11:44:00,38,3,03/02/18 14:57:42
23637,None,5,6897,0,1,0,None,38,02/23/18 00:00:00,26,26,02/23/18 00:00:00,2018-02-23 13:55:00,37,3,02/26/18 15:43:11
23661,93,1,6898,0,1,0,None,86,02/26/18 11:23:00,26,26,02/26/18 11:23:00,2018-02-26 10:18:00,36,3,02/26/18 11:23:49
23667,17,1,6899,2,10,0,None,38,02/26/18 00:00:00,26,26,02/26/18 00:00:00,2018-02-26 10:59:00,36,3,02/27/18 12:15:57
23669,30,None,6900,0,1,0,None,117,02/26/18 11:43:00,26,26,02/26/18 11:43:00,2018-02-26 11:23:00,19,3,02/26/18 11:43:59
23680,75,1,6901,0,1,0,None,148,02/26/18 14:25:00,26,26,02/26/18 14:25:00,2018-02-26 13:34:00,30,3,02/26/18 14:25:37
23687,NaN,2,6902,0,None,0,None,89,02/26/18 15:40:00,26,26,02/26/18 15:39:00,2018-02-26 15:03:00,12,3,02/26/18 15:40:25
23921,NaN,NaN,6902,0,None,0,None,89,03/08/18 12:26:00,26,26,03/08/18 12:26:00,2018-03-08 11:41:00,8,3,03/08/18 12:26:39
24733,NaN,NaN,6902,0,None,0,None,89,04/12/18 15:16:00,26,26,04/12/18 15:15:00,2018-04-12 14:18:00,39,3,04/12/18 15:16:01
24907,11,NaN,6902,0,None,0,None,89,04/20/18 12:25:00,26,26,04/20/18 12:25:00,2018-04-20 12:06:00,1,3,04/20/18 12:25:05
24925,11,NaN,6902,0,None,0,None,89,04/23/18 16:16:00,26,26,04/23/18 16:16:00,2018-04-23 10:22:00,36,3,04/25/18 12:52:30
24994,11,NaN,6902,0,None,0,None,89,04/25/18 13:01:00,26,26,04/25/18 13:00:00,2018-04-25 11:47:00,21,3,04/25/18 13:01:02
25366,NaN,NaN,6902,0,None,0,None,117,05/14/18 12:54:00,26,26,05/14/18 12:54:00,2018-05-14 12:26:00,19,3,05/14/18 12:54:10
25432,NaN,NaN,6902,0,None,0,None,117,05/16/18 13:18:00,26,26,05/16/18 13:18:00,2018-05-16 12:43:00,36,3,05/21/18 10:55:43
25574,NaN,NaN,6902,0,None,0,None,117,05/23/18 15:36:00,26,26,05/23/18 15:36:00,2018-05-23 10:39:00,21,3,05/23/18 15:36:47
25626,NaN,NaN,6902,0,None,0,None,117,05/25/18 16:07:00,26,26,05/25/18 16:07:00,2018-05-25 10:44:00,30,3,05/25/18 16:07:51
25855,NaN,NaN,6902,0,None,0,None,117,None,NaN,NaN,None,2018-06-06 12:07:00,38,1,06/06/18 12:07:53
23709,76,2,6903,0,None,0,None,36,02/27/18 13:19:00,26,26,02/27/18 13:19:00,2018-02-27 12:18:00,42,3,02/27/18 13:19:44

In [61]:
referral_table[referral_table['referral_clientid']==3013]

,referral_statusid,referral_referralonhold,referral_referraltakendate,referral_referralreadydate,referral_referralcollecteddate,referral_referralworkerid,referral_referralhandedworkerid,referral_clientid,referral_partnername,referral_partnerid,...,referral_referralnotes,referral_updatetimestamp,client_clientid,reference_date,futurereferraltargetfeature_futurereferralcount,futurereferraltargetfeature_futurereferralscore,futurereferraltargetfeature_futurereferralgaps,timefeature_referralnumber,timefeature_burstnumber,timefeature_totalreferralsforclient
6126,3,0,2015-01-20 11:39:00,01/20/15 16:04:00,01/20/15 16:04:00,1,1.0,3013,None,NaN,...,<NAME> is sofa surfing and having to use her b...,01/20/15 16:04:23,3013.0,NaT,8.0,0.076712,4.0,1.0,1.0,11
6923,3,0,2015-03-13 12:05:00,03/13/15 17:35:00,03/13/15 17:35:00,6,13.0,3013,None,NaN,...,Came off JSA to do a job in Manchester but cou...,03/13/15 17:35:11,3013.0,NaT,9.0,0.115068,3.0,2.0,2.0,11
7250,3,0,2015-04-08 12:35:00,04/08/15 15:30:00,04/08/15 15:30:00,10,5.0,3013,None,NaN,...,Hannah has been homeless and had to flee from...,04/08/15 15:30:04,3013.0,NaT,8.0,0.095890,3.0,3.0,2.0,11
7370,3,0,2015-04-16 15:50:00,04/16/15 16:06:00,04/16/15 16:06:00,5,5.0,3013,None,NaN,...,New tenancy.,04/16/15 16:06:12,3013.0,NaT,7.0,0.076712,3.0,4.0,2.0,11
7447,3,0,2015-04-22 15:51:00,04/22/15 00:00:00,04/22/15 00:00:00,13,5.0,3013,None,NaN,...,"Hannah has recieved a letter of ""doubt"" regard...",04/23/15 10:38:24,3013.0,NaT,6.0,0.057534,3.0,5.0,2.0,11
7866,3,0,2015-05-26 15:59:00,05/26/15 16:44:00,05/26/15 16:44:00,5,1.0,3013,None,NaN,...,"Hannah has had no income since april, there wa...",05/26/15 16:44:35,3013.0,NaT,5.0,0.057534,2.0,6.0,3.0,11
8014,3,0,2015-06-09 15:20:00,06/09/15 17:08:00,06/09/15 17:08:00,1,1.0,3013,None,NaN,...,hannah was on a sanction and borrowed money of...,06/09/15 17:08:35,3013.0,NaT,4.0,0.038356,2.0,7.0,3.0,11
9427,3,0,2015-09-29 12:23:00,09/29/15 16:13:00,09/29/15 16:14:00,6,1.0,3013,None,NaN,...,Had to pay family debts which has left her wit...,09/29/15 16:14:00,3013.0,NaT,3.0,0.038356,1.0,8.0,4.0,11
10862,3,0,2016-01-04 12:06:00,01/04/16 16:41:00,01/04/16 16:41:00,1,1.0,3013,None,NaN,...,had a claim in for UC due to the fact she is p...,01/04/16 16:41:40,3013.0,NaT,2.0,0.038356,0.0,9.0,5.0,11
11271,3,0,2016-01-29 16:10:00,01/29/16 16:30:00,01/29/16 16:30:00,13,1.0,3013,None,NaN,...,Benefits have been stopped pending receipt of ...,01/29/16 16:30:44,3013.0,NaT,1.0,0.019178,0.0,10.0,5.0,11
11621,3,0,2016-02-23 15:27:00,02/23/16 16:42:00,02/23/16 16:42:00,6,1.0,3013,None,NaN,...,H is pregnant and has applied for JSA she expe...,02/23/16 16:42:53,3013.0,NaT,0.0,0.000000,0.0,11.0,5.0,11

In [26]:
tables = construct_full_tables(json_data)

In [31]:
json_data[1]

{'client': [{'addressline2': None,
   'addressline4': None,
   'addresslocalityid': 11,
   'addresspostcode': 'HD2 2',
   'addresssincedate': '06/12/14 00:00:00',
   'clientaddresstypeid': 1,
   'clientcountryid': None,
   'clientdateofbirth': '06/01/71 00:00:00',
   'clientethnicityid': 10,
   'clientid': 13,
   'clientismale': '0',
   'clientresidencyid': None,
   'dependantnumber': 2,
   'enabled': '1',
   'lastmodifieddate': '09/11/15 00:00:00',
   'lastmodifiedworkerid': 1,
   'livingwithpartner': '0',
   'partnerid': None,
   'updatetimestamp': '09/11/15 10:22:29'}],
 'clientissue': [],
 'referral': [{'addresslocalityid': 11,
   'addresstypeid': 1,
   'clientid': 13,
   'dependantnumber': 2,
   'ethnicityid': 1,
   'livingwithpartner': '0',
   'partnerid': None,
   'referralagencyid': 77,
   'referralcollecteddate': '02/05/14 00:00:00',
   'referralhandedworkerid': None,
   'referralinstanceid': 18,
   'referralpreparedworkerid': None,
   'referralreadydate': '02/05/14 00:00:00',
   'referraltakendate': '02/05/14 00:00:00',
   'referralworkerid': 4,
   'statusid': 3,
   'updatetimestamp': '04/01/14 09:54:22'},
  {'addresslocalityid': 11,
   'addresstypeid': 1,
   'clientid': 13,
   'dependantnumber': 2,
   'ethnicityid': 10,
   'livingwithpartner': '0',
   'partnerid': None,
   'referralagencyid': 86,
   'referralcollecteddate': '09/11/15 00:00:00',
   'referralhandedworkerid': 1,
   'referralinstanceid': 9083,
   'referralpreparedworkerid': 1,
   'referralreadydate': '09/11/15 00:00:00',
   'referraltakendate': '09/11/15 10:25:00',
   'referralworkerid': 1,
   'statusid': 3,
   'updatetimestamp': '09/15/15 10:57:07'}],
 'referralbenefit': [],
 'referraldietaryrequirements': [{'dietaryrequirementsid': 2,
   'referralinstanceid': 9083}],
 'referraldocument': [],
 'referraldomesticcircumstances': [{'domesticcircumstancesid': 6,
   'referralinstanceid': 9083}],
 'referralissue': [],
 'referralreason': [{'referralinstanceid': 9083, 'referralreasonid': 26}]}

In [30]:
[t.columns for k,t in tables.items()]

[Index(['domesticcircumstancesid', 'referralinstanceid'], dtype='object'),
 Index(['clientissueid', 'referralinstanceid'], dtype='object'),
 Index(['clientid', 'clientissueid'], dtype='object'),
 Index(['referralinstanceid', 'referralreasonid'], dtype='object'),
 Index(['dietaryrequirementsid', 'referralinstanceid'], dtype='object'),
 Index(['benefittypeid', 'referralinstanceid'], dtype='object'),
 Index(['addressline2', 'addressline4', 'addresslocalityid', 'addresspostcode',
        'addresssincedate', 'clientaddresstypeid', 'clientcountryid',
        'clientdateofbirth', 'clientethnicityid', 'clientid', 'clientismale',
        'clientresidencyid', 'dependantnumber', 'enabled', 'lastmodifieddate',
        'lastmodifiedworkerid', 'livingwithpartner', 'partnerid',
        'updatetimestamp'],
       dtype='object'),
 Index(['referraldocumentid', 'referralinstanceid'], dtype='object'),
 Index(['addresslocalityid', 'addresstypeid', 'clientid', 'dependantnumber',
        'ethnicityid', 'livingwithpartner', 'partnerid', 'referralagencyid',
        'referralcollecteddate', 'referralhandedworkerid', 'referralinstanceid',
        'referralpreparedworkerid', 'referralreadydate', 'referraltakendate',
        'referralworkerid', 'statusid', 'updatetimestamp'],
       dtype='object')]

In [14]:
X, y, referral_table, model, message = train_model_from_json(json_tables)

TypeError: string indices must be integers

In [18]:
with open('../twc_api/api/requestNewData.json', 'r') as f:
    json_data = json.load(f)
# X, y, referral_table, model, message = train_model_from_json(json_data)

In [22]:
json_data[0]

{'client': [{'addressline2': None,
   'addressline4': None,
   'addresslocalityid': None,
   'addresspostcode': 'HD1 5',
   'addresssincedate': '12/02/16 00:00:00',
   'clientaddresstypeid': 2,
   'clientcountryid': None,
   'clientdateofbirth': '03/01/68 00:00:00',
   'clientethnicityid': 1,
   'clientid': 10,
   'clientismale': '1',
   'clientresidencyid': None,
   'dependantnumber': 0,
   'enabled': '1',
   'lastmodifieddate': '12/02/16 00:00:00',
   'lastmodifiedworkerid': 8,
   'livingwithpartner': '0',
   'partnerid': None,
   'updatetimestamp': '12/02/16 14:06:17'}],
 'clientissue': [{'clientid': 10, 'clientissueid': 9}],
 'referral': [{'addresslocalityid': 6,
   'addresstypeid': 4,
   'clientid': 10,
   'dependantnumber': 0,
   'ethnicityid': 1,
   'livingwithpartner': '0',
   'partnerid': None,
   'referralagencyid': 31,
   'referralcollecteddate': '01/13/14 00:00:00',
   'referralhandedworkerid': None,
   'referralinstanceid': 12,
   'referralpreparedworkerid': None,
   'referralreadydate': '01/13/14 00:00:00',
   'referraltakendate': '01/13/14 00:00:00',
   'referralworkerid': 4,
   'statusid': 3,
   'updatetimestamp': '04/01/14 09:53:43'},
  {'addresslocalityid': 6,
   'addresstypeid': 1,
   'clientid': 10,
   'dependantnumber': 0,
   'ethnicityid': 1,
   'livingwithpartner': '0',
   'partnerid': None,
   'referralagencyid': 86,
   'referralcollecteddate': '02/03/14 00:00:00',
   'referralhandedworkerid': None,
   'referralinstanceid': 13,
   'referralpreparedworkerid': None,
   'referralreadydate': '02/03/14 00:00:00',
   'referraltakendate': '02/03/14 00:00:00',
   'referralworkerid': 4,
   'statusid': 3,
   'updatetimestamp': '04/01/14 09:53:43'},
  {'addresslocalityid': 6,
   'addresstypeid': 1,
   'clientid': 10,
   'dependantnumber': 0,
   'ethnicityid': 1,
   'livingwithpartner': '0',
   'partnerid': None,
   'referralagencyid': 32,
   'referralcollecteddate': '06/09/14 15:31:00',
   'referralhandedworkerid': 7,
   'referralinstanceid': 2631,
   'referralpreparedworkerid': 7,
   'referralreadydate': '06/09/14 15:31:00',
   'referraltakendate': '06/09/14 15:31:00',
   'referralworkerid': 7,
   'statusid': 3,
   'updatetimestamp': '06/09/14 15:31:52'},
  {'addresslocalityid': 6,
   'addresstypeid': 1,
   'clientid': 10,
   'dependantnumber': 0,
   'ethnicityid': 1,
   'livingwithpartner': '0',
   'partnerid': None,
   'referralagencyid': 86,
   'referralcollecteddate': '06/16/14 15:46:00',
   'referralhandedworkerid': 7,
   'referralinstanceid': 2733,
   'referralpreparedworkerid': 7,
   'referralreadydate': '06/16/14 15:46:00',
   'referraltakendate': '06/16/14 15:46:00',
   'referralworkerid': 7,
   'statusid': 3,
   'updatetimestamp': '06/16/14 15:46:05'},
  {'addresslocalityid': 6,
   'addresstypeid': 1,
   'clientid': 10,
   'dependantnumber': 0,
   'ethnicityid': 1,
   'livingwithpartner': '0',
   'partnerid': None,
   'referralagencyid': 86,
   'referralcollecteddate': '06/23/14 16:42:00',
   'referralhandedworkerid': 7,
   'referralinstanceid': 2873,
   'referralpreparedworkerid': 7,
   'referralreadydate': '06/23/14 16:42:00',
   'referraltakendate': '06/23/14 16:42:00',
   'referralworkerid': 7,
   'statusid': 3,
   'updatetimestamp': '06/23/14 16:42:17'},
  {'addresslocalityid': 6,
   'addresstypeid': 4,
   'clientid': 10,
   'dependantnumber': 0,
   'ethnicityid': 1,
   'livingwithpartner': '0',
   'partnerid': None,
   'referralagencyid': 65,
   'referralcollecteddate': '10/18/16 13:06:00',
   'referralhandedworkerid': 26,
   'referralinstanceid': 14956,
   'referralpreparedworkerid': 26,
   'referralreadydate': '10/18/16 13:06:00',
   'referraltakendate': '10/18/16 11:24:00',
   'referralworkerid': 15,
   'statusid': 3,
   'updatetimestamp': '10/18/16 13:06:42'},
  {'addresslocalityid': None,
   'addresstypeid': 4,
   'clientid': 10,
   'dependantnumber': 0,
   'ethnicityid': 1,
   'livingwithpartner': '0',
   'partnerid': None,
   'referralagencyid': 89,
   'referralcollecteddate': '11/08/16 16:46:00',
   'referralhandedworkerid': 1,
   'referralinstanceid': 15293,
   'referralpreparedworkerid': 1,
   'referralreadydate': '11/08/16 16:46:00',
   'referraltakendate': '11/08/16 12:32:00',
   'referralworkerid': 1,
   'statusid': 3,
   'updatetimestamp': '11/08/16 16:46:33'},
  {'addresslocalityid': None,
   'addresstypeid': 2,
   'clientid': 10,
   'dependantnumber': 0,
   'ethnicityid': 1,
   'livingwithpartner': '0',
   'partnerid': None,
   'referralagencyid': 136,
   'referralcollecteddate': '12/02/16 15:29:00',
   'referralhandedworkerid': 26,
   'referralinstanceid': 15739,
   'referralpreparedworkerid': 26,
   'referralreadydate': '12/02/16 15:29:00',
   'referraltakendate': '12/02/16 14:09:00',
   'referralworkerid': 8,
   'statusid': 3,
   'updatetimestamp': '12/02/16 15:29:51'}],
 'referralbenefit': [{'benefittypeid': 2, 'referralinstanceid': 15739}],
 'referraldietaryrequirements': [],
 'referraldocument': [],
 'referraldomesticcircumstances': [{'domesticcircumstancesid': 5,
   'referralinstanceid': 2631},
  {'domesticcircumstancesid': 6, 'referralinstanceid': 2733},
  {'domesticcircumstancesid': 5, 'referralinstanceid': 2873},
  {'domesticcircumstancesid': 6, 'referralinstanceid': 2873},
  {'domesticcircumstancesid': 6, 'referralinstanceid': 15293},
  {'domesticcircumstancesid': 6, 'referralinstanceid': 15739}],
 'referralissue': [{'clientissueid': 9, 'referralinstanceid': 15293}],
 'referralreason': [{'referralinstanceid': 2631, 'referralreasonid': 29},
  {'referralinstanceid': 2733, 'referralreasonid': 29},
  {'referralinstanceid': 2873, 'referralreasonid': 29},
  {'referralinstanceid': 14956, 'referralreasonid': 43},
  {'referralinstanceid': 15293, 'referralreasonid': 29},
  {'referralinstanceid': 15293, 'referralreasonid': 56},
  {'referralinstanceid': 15739, 'referralreasonid': 29}]}

In [17]:
from collections import defaultdict
def construct_full_tables(json_data):
    tables = defaultdict(list)
    for row in json_data:
        for key in row:
            tables[key].append(pd.DataFrame.from_dict(row[key]))
    return {k: pd.concat(v) for k, v in tables.items()}

tables = construct_full_tables(json_data)

In [ ]:
tables['refe']

In [58]:
tables['client'].groupby('clientcountryid').size().sum()

641

In [92]:
client_old = training_data['client'].set_index('clientid')
client_new = tables['client'].set_index('clientid')

In [108]:
client_new['clientaddresstypeid'].value_counts(), client_old['clientaddresstypeid'].value_counts()

(1    2564
 2     719
 3     145
 4     104
 6     103
 7      85
 8      46
 5      45
 Name: clientaddresstypeid, dtype: int64, 1.0    3545
 2.0     838
 nan     576
 4.0     179
 6.0     168
 3.0     159
 7.0     116
 8.0      70
 5.0      40
 Name: clientaddresstypeid, dtype: int64)

In [105]:
tables['referraldocument']

Empty DataFrame
Columns: []
Index: []

In [103]:
old_nulls = client_old[client_old['clientcountryid'] == 'nan']

client_new.loc[old_nulls.index].groupby("clientcountryid").size()

/Users/davidsykes/.virtualenvs/twc/lib/python3.5/site-packages/ipykernel_launcher.py:3: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  This is separate from the ipykernel package so we can avoid doing imports until

clientcountryid
2     1
14    2
24    1
dtype: int64

### Find columns that are missing

In [26]:
len(X_retrain.columns), len(X.columns)

(569, 593)

In [27]:
[c for c in X.columns if c not in X_retrain.columns]

['referraldietaryrequirements_1',
 'referraldietaryrequirements_2',
 'referraldietaryrequirements_3',
 'referraldietaryrequirements_4',
 'referraldietaryrequirements_5',
 'referraldietaryrequirements_6',
 'referraldietaryrequirements_7',
 'referraldietaryrequirements_8',
 'referraldietaryrequirements_9',
 'referraldietaryrequirements_10',
 'referraldietaryrequirements_11',
 'referraldietaryrequirements_12',
 'referraldocument_1',
 'referraldocument_2',
 'referraldocument_3',
 'referraldocument_4',
 'referraldocument_5',
 'client_clientethnicityid_1.0',
 'client_clientethnicityid_10.0',
 'client_clientethnicityid_11.0',
 'client_clientethnicityid_12.0',
 'client_clientethnicityid_13.0',
 'client_clientethnicityid_14.0',
 'client_clientethnicityid_15.0',
 'client_clientethnicityid_16.0',
 'client_clientethnicityid_17.0',
 'client_clientethnicityid_18.0',
 'client_clientethnicityid_2.0',
 'client_clientethnicityid_3.0',
 'client_clientethnicityid_4.0',
 'client_clientethnicityid_5.0',
 'client_clientethnicityid_6.0',
 'client_clientethnicityid_7.0',
 'client_clientethnicityid_8.0',
 'client_clientethnicityid_9.0',
 'client_clientethnicityid_nan',
 'client_clientcountryid_1.0',
 'client_clientcountryid_10.0',
 'client_clientcountryid_11.0',
 'client_clientcountryid_12.0',
 'client_clientcountryid_13.0',
 'client_clientcountryid_14.0',
 'client_clientcountryid_15.0',
 'client_clientcountryid_16.0',
 'client_clientcountryid_17.0',
 'client_clientcountryid_18.0',
 'client_clientcountryid_19.0',
 'client_clientcountryid_2.0',
 'client_clientcountryid_20.0',
 'client_clientcountryid_21.0',
 'client_clientcountryid_22.0',
 'client_clientcountryid_23.0',
 'client_clientcountryid_24.0',
 'client_clientcountryid_25.0',
 'client_clientcountryid_26.0',
 'client_clientcountryid_27.0',
 'client_clientcountryid_28.0',
 'client_clientcountryid_29.0',
 'client_clientcountryid_3.0',
 'client_clientcountryid_30.0',
 'client_clientcountryid_4.0',
 'client_clientcountryid_5.0',
 'client_clientcountryid_6.0',
 'client_clientcountryid_7.0',
 'client_clientcountryid_8.0',
 'client_clientcountryid_9.0',
 'client_clientcountryid_nan',
 'client_clientaddresstypeid_1.0',
 'client_clientaddresstypeid_2.0',
 'client_clientaddresstypeid_3.0',
 'client_clientaddresstypeid_4.0',
 'client_clientaddresstypeid_5.0',
 'client_clientaddresstypeid_6.0',
 'client_clientaddresstypeid_7.0',
 'client_clientaddresstypeid_8.0',
 'client_clientaddresstypeid_nan',
 'client_addresspostcode_ HD6 ',
 'client_addresspostcode_BD11 ',
 'client_addresspostcode_HD! 4',
 'client_addresspostcode_HD1 8',
 'client_addresspostcode_HD1 D',
 'client_addresspostcode_HD1 H',
 'client_addresspostcode_HD2 6',
 'client_addresspostcode_HD2 7',
 'client_addresspostcode_HD2 Q',
 'client_addresspostcode_HD2 Z',
 'client_addresspostcode_HD21P',
 'client_addresspostcode_HD22S',
 'client_addresspostcode_HD3 ',
 'client_addresspostcode_HD3 7',
 'client_addresspostcode_HD34D',
 'client_addresspostcode_HD34Q',
 'client_addresspostcode_HD34X',
 'client_addresspostcode_HD4 2',
 'client_addresspostcode_HD4 S',
 'client_addresspostcode_HD45L',
 'client_addresspostcode_HD45T',
 'client_addresspostcode_HD5 O',
 'client_addresspostcode_HD56L',
 'client_addresspostcode_HD58H',
 'client_addresspostcode_HD59S',
 'client_addresspostcode_HD59X',
 'client_addresspostcode_HD6 1',
 'client_addresspostcode_HD74N',
 'client_addresspostcode_HD88S',
 'client_addresspostcode_HD9 ',
 'client_addresspostcode_HD93E',
 'client_addresspostcode_HG5 9',
 'client_addresspostcode_HS2 1',
 'client_addresspostcode_HX5 0',
 'client_addresspostcode_WF 12',
 'client_addresspostcode_WF13',
 'client_addresspostcode_WF15',
 'client_addresslocalityid_1.0',
 'client_addresslocalityid_10.0',
 'client_addresslocalityid_100.0',
 'client_addresslocalityid_101.0',
 'client_addresslocalityid_102.0',
 'client_addresslocalityid_103.0',
 'client_addresslocalityid_105.0',
 'client_addresslocalityid_107.0',
 'client_addresslocalityid_108.0',
 'client_addresslocalityid_109.0',
 'client_addresslocalityid_11.0',
 'client_addresslocalityid_110.0',
 'client_addresslocalityid_111.0',
 'client_addresslocalityid_112.0',
 'client_addresslocalityid_115.0',
 'client_addresslocalityid_116.0',
 'client_addresslocalityid_117.0',
 'client_addresslocalityid_119.0',
 'client_addresslocalityid_12.0',
 'client_addresslocalityid_120.0',
 'client_addresslocalityid_121.0',
 'client_addresslocalityid_124.0',
 'client_addresslocalityid_125.0',
 'client_addresslocalityid_128.0',
 'client_addresslocalityid_130.0',
 'client_addresslocalityid_131.0',
 'client_addresslocalityid_133.0',
 'client_addresslocalityid_134.0',
 'client_addresslocalityid_135.0',
 'client_addresslocalityid_136.0',
 'client_addresslocalityid_137.0',
 'client_addresslocalityid_140.0',
 'client_addresslocalityid_141.0',
 'client_addresslocalityid_142.0',
 'client_addresslocalityid_143.0',
 'client_addresslocalityid_145.0',
 'client_addresslocalityid_147.0',
 'client_addresslocalityid_15.0',
 'client_addresslocalityid_151.0',
 'client_addresslocalityid_152.0',
 'client_addresslocalityid_153.0',
 'client_addresslocalityid_158.0',
 'client_addresslocalityid_168.0',
 'client_addresslocalityid_169.0',
 'client_addresslocalityid_17.0',
 'client_addresslocalityid_18.0',
 'client_addresslocalityid_2.0',
 'client_addresslocalityid_20.0',
 'client_addresslocalityid_23.0',
 'client_addresslocalityid_26.0',
 'client_addresslocalityid_27.0',
 'client_addresslocalityid_29.0',
 'client_addresslocalityid_3.0',
 'client_addresslocalityid_30.0',
 'client_addresslocalityid_31.0',
 'client_addresslocalityid_32.0',
 'client_addresslocalityid_33.0',
 'client_addresslocalityid_35.0',
 'client_addresslocalityid_36.0',
 'client_addresslocalityid_37.0',
 'client_addresslocalityid_38.0',
 'client_addresslocalityid_42.0',
 'client_addresslocalityid_43.0',
 'client_addresslocalityid_45.0',
 'client_addresslocalityid_47.0',
 'client_addresslocalityid_5.0',
 'client_addresslocalityid_50.0',
 'client_addresslocalityid_51.0',
 'client_addresslocalityid_52.0',
 'client_addresslocalityid_53.0',
 'client_addresslocalityid_55.0',
 'client_addresslocalityid_56.0',
 'client_addresslocalityid_58.0',
 'client_addresslocalityid_6.0',
 'client_addresslocalityid_61.0',
 'client_addresslocalityid_63.0',
 'client_addresslocalityid_64.0',
 'client_addresslocalityid_67.0',
 'client_addresslocalityid_69.0',
 'client_addresslocalityid_72.0',
 'client_addresslocalityid_74.0',
 'client_addresslocalityid_75.0',
 'client_addresslocalityid_76.0',
 'client_addresslocalityid_77.0',
 'client_addresslocalityid_79.0',
 'client_addresslocalityid_8.0',
 'client_addresslocalityid_80.0',
 'client_addresslocalityid_82.0',
 'client_addresslocalityid_83.0',
 'client_addresslocalityid_84.0',
 'client_addresslocalityid_85.0',
 'client_addresslocalityid_87.0',
 'client_addresslocalityid_88.0',
 'client_addresslocalityid_89.0',
 'client_addresslocalityid_91.0',
 'client_addresslocalityid_92.0',
 'client_addresslocalityid_93.0',
 'client_addresslocalityid_95.0',
 'client_addresslocalityid_96.0',
 'client_addresslocalityid_98.0',
 'client_addresslocalityid_nan',
 'client_clientresidencyid_1.0',
 'client_clientresidencyid_2.0',
 'client_clientresidencyid_3.0',
 'client_clientresidencyid_4.0',
 'client_clientresidencyid_5.0',
 'client_clientresidencyid_6.0',
 'client_clientresidencyid_7.0',
 'client_clientresidencyid_nan',
 'clientissue_5',
 'clientissue_14']

In [30]:
y_pred = pd.Series(model.predict(X_test), X_test.index)

ValueError: Number of features of the model must match the input. Model n_features is 569 and input n_features is 593

In [28]:
print(message)

Features Matrix generated consisting of 21181 referrals and 569 features
Train/Test sets split.
Train set: 16944 referrals.
Test set: 4237 referrals
Trained Model on: 16944 observations
Model Test Evaluation Metrics:
	Test Set Correlation of Predicted and Actual Mean Weekly Scores: 0.285111297280371
	Test Set Overlap of top 20.0% worst cases: 0.23163067552602426
Trained Model on: 21181 observations