# Initial Model - Score Regression

For the initial model, we'll use a machine learning algorithm to predict the severity score that we derived previously. This severity score function increases as:
- The number of referrals increases
- The density of referrals increases

and decreases with each `break` defined as a referral free period longer than 28 days

It is also scaled so that different time scales can be considered together.

First: Some imports

In [1]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV, cross_val_predict, train_test_split
from sklearn.preprocessing import StandardScaler, Imputer
from sklearn.pipeline import Pipeline
from sklearn.metrics import roc_auc_score
%matplotlib inline
import seaborn as sns

from scipy.stats import beta, spearmanr
from datetime import datetime

# Problem set-up
Load the data

In [2]:
referrals = pd.read_csv('../../Welcome-Centre-DataCorps-Data/referrals.csv')


clients = pd.read_csv('../../Welcome-Centre-DataCorps-Data/clients.csv', index_col=0)

referrals['ReferralTakenDate'] = pd.to_datetime(referrals['ReferralTakenDate'])
    
referrals = referrals.sort_values('ReferralTakenDate')

/Users/jamesgin/.virtualenvs/datasine/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2683: DtypeWarning: Columns (44,46,47,51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
def get_score(referrals, break_length=28, break_coefficient=1, min_beta_fit_days=365):
    gaps = (referrals.sort_values('ReferralTakenDate').groupby('ClientId')['ReferralTakenDate'].diff().dt.days > break_length).groupby(referrals['ClientId']).sum()
    days_active = (referrals['ReferralTakenDate'].max() - referrals.groupby('ClientId')['ReferralTakenDate'].min()).dt.days + 7
    weeks_active = days_active / 7
    referrals = (referrals.groupby('ClientId').size())
    simple_ratio = (referrals - gaps) / weeks_active
    a, b, loc, scale = beta.fit((simple_ratio[days_active > min_beta_fit_days]).values)
    adjusted_ratio = ((referrals - gaps * break_coefficient + a) / (weeks_active + a + b)).sort_values()
    score_df = pd.concat([referrals, gaps, weeks_active, simple_ratio, adjusted_ratio], axis=1)
    score_df.columns=['Referrals', 'Gaps', 'Weeks Active', 'Simple Ratio', 'Empirical Bayes Ratio']
    return score_df.sort_values('Empirical Bayes Ratio')

In [4]:
scores = get_score(referrals)

/Users/jamesgin/.virtualenvs/datasine/lib/python3.5/site-packages/scipy/stats/_continuous_distns.py:427: RuntimeWarning: invalid value encountered in sqrt
  sk = 2*(b-a)*np.sqrt(a + b + 1) / (a + b + 2) / np.sqrt(a*b)
/Users/jamesgin/.virtualenvs/datasine/lib/python3.5/site-packages/scipy/optimize/minpack.py:161: RuntimeWarning: The iteration is not making good progress, as measured by the
  improvement from the last ten iterations.
  warnings.warn(msg, RuntimeWarning)

In [5]:
#best clients
scores.head(5)

          Referrals  Gaps  Weeks Active  Simple Ratio  Empirical Bayes Ratio
ClientId
419               3   2.0    217.857143       0.00459                 0.0053
138               2   1.0    217.857143       0.00459                 0.0053
143               2   1.0    217.857143       0.00459                 0.0053
336               2   1.0    217.857143       0.00459                 0.0053
1056              5   4.0    217.857143       0.00459                 0.0053

In [6]:
#worst clients
scores.tail(5)

          Referrals  Gaps  Weeks Active  Simple Ratio  Empirical Bayes Ratio
ClientId
5201             33   0.0     31.142857      1.059633               0.261161
4606             43   0.0     59.571429      0.721823               0.277528
3711             56   2.0     94.000000      0.574468               0.285063
2890             91   4.0    137.000000      0.635036               0.373406
287             108   8.0    171.142857      0.584307               0.374338

# Some Exploration

We want to be able to predict the eventual severity of a client's usage from there initial few referrals.

How do various features correlate with severity, say, for the first few referrals

In [7]:
referral_no = referrals.assign(count=1).groupby('ClientId').expanding()['count'].sum()
referral_no = referral_no.reset_index().set_index('level_1')['count']

In [8]:
subset = referrals[referral_no < 10]

/Users/jamesgin/.virtualenvs/datasine/lib/python3.5/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [9]:
def get_feature_matrix(referrals, clients):
    general = referrals[['DependantNumber', 'LivingWithPartner']]
    current_issues = get_current_referral_issues(referrals)
    any_issue = current_issues.groupby(subset['ClientId'], as_index=False, sort=False).expanding().sum() > 0
    any_issue.index = any_issue.index.droplevel(0)
    any_issue = any_issue.loc[referrals.index]
    referral_issues = pd.concat([general, current_issues.add_prefix('current_'), 
                      any_issue.add_prefix('ever_')], axis=1)
    client_issues = get_client_features(clients).loc[referrals['ClientId']]
    client_issues.index = referrals.index
    return pd.concat([referral_issues, client_issues], axis=1)

In [10]:
def get_current_referral_issues(referrals):
    referral_reasons = referrals.filter(like='ReferralDomestic').add_prefix('reasons_')
    referral_document = referrals.filter(like='ReferralDocument').add_prefix('documents_')
    referral_benefit = referrals.filter(like='ReferralBenefit').add_prefix('benefit_')
    referral_issue = referrals.filter(like='ReferralIssue').add_prefix('r_issue_')
    referral_reason = referrals.filter(like='ReferralReason').add_prefix('reason_')
    client_issue = referrals.filter(like='ClientIssue').add_prefix('c_issue_')
    referral_agency = pd.get_dummies(referrals['ReferralAgencyId']).add_prefix('agency_')

    X = pd.concat([
        referral_reasons,
        referral_document,
        referral_benefit,
        referral_issue,
        referral_reason,
        referral_agency,
        client_issue
    ], axis=1).fillna(False).astype(bool)
    
    return X

In [11]:
def get_client_features(clients):
    clients['ClientDateOfBirth'] = pd.to_datetime(clients['ClientDateOfBirth'])
    clients['AddressSinceDate'] = pd.to_datetime(clients['AddressSinceDate'])
    clients['Age'] = datetime.now() - clients['ClientDateOfBirth']
    clients['Age'] = clients['Age'].dt.days / 365
    clients.loc[clients['Age'] < 0, 'Age'] += 100
    clients['AddressLength'] = (datetime.now() - clients['AddressSinceDate']).dt.days / 365
    categories = pd.get_dummies(clients[['EthnicityDescription', 'ClientCountryID', 'ClientAddressTypeDescription', 'AddressPostCode', 
        'LocalityDescription', 'ResidencyDescription']].astype(str))
    clients['known_partner'] = clients['PartnerId'].notnull()

    client_features = pd.concat([clients[['Age', 'AddressLength', 'ClientIsMale', 'known_partner']], 
              categories], axis=1)
    client_features = client_features.fillna(client_features.median())
    return client_features

# Correlations

To sense check our system, let's consider looking at correlations.

If a correlation is positive, it means that when the values move in the same direction. For example, if Age is positively correlated to dependency, it would mean that older people are more likely to be dependent.

Similarly, even if the variable can take only two values, for example `is_male`, if that is positive, then it means males are more likely to be dependent.

Negative correlation implies the opposite effect

## Client Features

We look at the correlation between aspects of the client and the severity, creating features for aspects stored in the client table.

Do they line up to expectation?

In [12]:
client_features = get_client_features(clients)

client_features, bayes_score = client_features.align(scores['Empirical Bayes Ratio'], 'inner', 0)

client_features.apply(lambda k: spearmanr(bayes_score, k)[0]).sort_values().dropna()

/Users/jamesgin/.virtualenvs/datasine/lib/python3.5/site-packages/numpy/lib/function_base.py:3167: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[:, None]
/Users/jamesgin/.virtualenvs/datasine/lib/python3.5/site-packages/numpy/lib/function_base.py:3168: RuntimeWarning: invalid value encountered in true_divide
  c /= stddev[None, :]
/Users/jamesgin/.virtualenvs/datasine/lib/python3.5/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
/Users/jamesgin/.virtualenvs/datasine/lib/python3.5/site-packages/scipy/stats/_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
/Users/jamesgin/.virtualenvs/datasine/lib/python3.5/site-packages/scipy/stats/_distn_infrastructure.py:1821: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

AddressLength                                       -0.321583
ResidencyDescription_nan                            -0.183675
ClientAddressTypeDescription_Permanent              -0.134244
EthnicityDescription_White - British                -0.101761
ClientCountryID_nan                                 -0.090892
LocalityDescription_Dewsbury                        -0.080411
AddressPostCode_WF14                                -0.063139
LocalityDescription_Mirfield                        -0.061274
AddressPostCode_WF17                                -0.058797
AddressPostCode_WF12                                -0.058725
LocalityDescription_Batley                          -0.057303
AddressPostCode_WF15                                -0.056681
LocalityDescription_Liversedge                      -0.054246
AddressPostCode_WF13                                -0.044602
AddressPostCode_WF16                                -0.042508
LocalityDescription_Rawthorpe                       -0.039356
LocalityDescription_Emley                           -0.034254
LocalityDescription_Cowlersley                      -0.033836
LocalityDescription_Crosland Moor; Huddersfield     -0.032772
AddressPostCode_HD4 6                               -0.032708
AddressPostCode_BD19                                -0.032533
LocalityDescription_Cleckheaton                     -0.031234
AddressPostCode_HD8 0                               -0.030773
LocalityDescription_Moldgreen; Huddersfield         -0.030672
AddressPostCode_WF4 4                               -0.029733
LocalityDescription_Mount; Huddersfield             -0.029495
AddressPostCode_HD4 5                               -0.027592
AddressPostCode_HD7 6                               -0.027328
LocalityDescription_Marsden                         -0.027003
LocalityDescription_Holmfirth                       -0.026162
                                                       ...
ClientCountryID_22.0                                 0.025971
ClientCountryID_2.0                                  0.026768
ClientCountryID_26.0                                 0.026920
AddressPostCode_HD1 9                                0.027014
ClientCountryID_17.0                                 0.028040
LocalityDescription_Berry Brow; Huddersfield         0.030618
AddressPostCode_HD34R                                0.030645
ClientCountryID_20.0                                 0.031293
ResidencyDescription_Refugee with leave to stay      0.035649
AddressPostCode_HD1 4                                0.036011
ClientAddressTypeDescription_Sofa Surfing            0.036293
ClientAddressTypeDescription_Refuge                  0.037364
ClientCountryID_8.0                                  0.038794
ClientAddressTypeDescription_On Street (Homeless)    0.041083
ClientCountryID_6.0                                  0.048556
ResidencyDescription_Destitute                       0.051113
EthnicityDescription_Other Ethnic Group - Arab       0.052389
known_partner                                        0.053037
LocalityDescription_Huddersfield                     0.058444
ResidencyDescription_Migrant                         0.064893
ClientAddressTypeDescription_Temporary               0.068109
AddressPostCode_nan                                  0.074516
ClientAddressTypeDescription_nan                     0.074531
ClientCountryID_24.0                                 0.075398
EthnicityDescription_Other Ethnic Group - Other      0.076734
ResidencyDescription_New to area                     0.093601
ClientIsMale                                         0.105634
LocalityDescription_nan                              0.110102
ResidencyDescription_South Kirklees Resident         0.122295
EthnicityDescription_nan                             0.134498
Length: 376, dtype: float64

## Adding in simple referral features

We create features for referrals, using only the categorical datapoints.

We consider both:
- The current referral reasons/issues/etc.
- All given referral reasons up until that point

In [13]:
current_issues = get_current_referral_issues(subset)

In [14]:
aligned_score = scores['Empirical Bayes Ratio'].loc[subset['ClientId']].to_frame().set_index(subset.index)

In [15]:
current_issues.apply(lambda k: spearmanr(aligned_score.iloc[:,0], k)[0]).sort_values()

agency_86                                                           -0.123583
agency_45                                                           -0.061805
c_issue_ClientIssue_Estranged                                       -0.061243
agency_13                                                           -0.050352
agency_20                                                           -0.050011
agency_77                                                           -0.045763
reason_ReferralReason_Housing Issues - New Tenancy                  -0.044678
reason_ReferralReason_Bills - Utilities (Gas, Electricity, Water)   -0.042703
agency_103                                                          -0.041373
agency_36                                                           -0.038724
agency_29                                                           -0.037523
agency_1                                                            -0.037358
reason_ReferralReason_Domestic Issues                               -0.033777
reason_ReferralReason_Money Lost/Stolen                             -0.031950
agency_48                                                           -0.031902
benefit_ReferralBenefit_NASS Payments                               -0.031872
reason_ReferralReason_Relationship Breakdown                        -0.030726
agency_43                                                           -0.030423
agency_34                                                           -0.030029
reason_ReferralReason_No Income                                     -0.027868
agency_93                                                           -0.027811
agency_90                                                           -0.027729
agency_19                                                           -0.027398
benefit_ReferralBenefit_Child Tax Credit                            -0.026786
agency_52                                                           -0.026700
agency_102                                                          -0.026013
reason_ReferralReason_Mental/physical health                        -0.025290
agency_82                                                           -0.024926
reason_ReferralReason_Debts - Rent Arrears                          -0.024858
reason_ReferralReason_Substance Misuse                              -0.024852
                                                                       ...
reason_ReferralReason_Clothes - Damage/Accident                      0.028538
c_issue_ClientIssue_HIV                                              0.029398
r_issue_ReferralIssue_DW(Cath) supporting/supported                  0.030225
c_issue_ClientIssue_Asylum Seeker                                    0.030253
reason_ReferralReason_Housing Issues (street homeless)               0.031294
agency_136                                                           0.032492
agency_39                                                            0.034871
r_issue_ReferralIssue_Ex-Offender                                    0.035104
c_issue_ClientIssue_Refugee                                          0.035121
reason_ReferralReason_working - on low income                        0.035759
reason_ReferralReason_Benefits - NAS payments Issue                  0.037463
reasons_ReferralDomesticCircumstances_Cooking - Kettle               0.045203
c_issue_ClientIssue_Street Homeless                                  0.047345
agency_146                                                           0.047605
reasons_ReferralDomesticCircumstances_Non-Cook - Non-cook at home    0.049483
c_issue_ClientIssue_Learning Difficulties                            0.051431
agency_76                                                            0.055540
reasons_ReferralDomesticCircumstances_Cooking - All Facilities       0.060363
reason_ReferralReason_Benefits - New Claim                           0.071196
benefit_ReferralBenefit_Universal Credit                             0.073500
c_issue_ClientIssue_Alcohol                                          0.079206
c_issue_ClientIssue_Physical Health                                  0.084415
c_issue_ClientIssue_Mental Health                                    0.093744
c_issue_ClientIssue_Drugs                                            0.093796
reason_ReferralReason_no income entitlement                          0.112102
agency_117                                                           0.115870
agency_23                                                            0.117253
c_issue_ClientIssue_Ex-Offender                                      0.129217
agency_55                                                            0.145781
c_issue_ClientIssue_DW(Cath) supporting/supported                    0.189887
Length: 238, dtype: float64

In [16]:
any_issue = X.groupby(subset['ClientId'], as_index=False, sort=False).expanding().sum() > 0
any_issue.index = any_issue.index.droplevel(0)
any_issue = any_issue.loc[subset.index]
any_issue.apply(lambda k: spearmanr(aligned_score.iloc[:,0], k)[0]).sort_values()

NameError: name 'X' is not defined

Domestic Circumstances - Cooking - All Facilities seems a little strange. Other than that, benefit changes are lead to some level of dependence

## Referral No.

As referral no. is a component of our score, it should have a very high correlation with score.

In [ ]:
referral_no.loc[subset.index].to_frame().corrwith(aligned_score.iloc[:,0])

# A simple model

In [48]:
from sklearn.linear_model import Ridge, Lasso, SGDRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Imputer, StandardScaler
from sklearn.metrics import make_scorer
from scipy.stats import spearmanr
from sklearn.decomposition import PCA
from sklearn.model_selection import GridSearchCV

In [49]:
# Define scoring function
scoring_function = make_scorer(lambda a,b: spearmanr(a,b)[0])

In [50]:
# Create Model Pipeline
pipe = Pipeline([
    ('imp', Imputer()),
    ('scale', StandardScaler()),
    ('reg', Ridge())
])

In [ ]:
y = aligned_score.loc[subset.index].iloc[:,0]

## Baseline Model

Referral No. only

In [ ]:
# Fit Logistic Regression
param_grid = {
    'reg__alpha': np.logspace(-5,5,11)
}
gs = GridSearchCV(pipe, param_grid, cv=10, scoring=scoring_function, verbose=3)
gs.fit(referral_no.loc[subset.index].values.reshape(-1,1), aligned_score.iloc[:,0])

As expected, referral number is very predictive:

Achieving a spearman correlation of:

In [ ]:
gs.best_score_

In [ ]:
res = pd.concat([np.log(bayes_score), pd.Series(pred, index=bayes_score.index, name='prediction')], axis=1)

# Client Features Only

In [ ]:
param_grid = {
    'reg__alpha': np.logspace(-5,5,11)
}
gs = GridSearchCV(pipe, param_grid, cv=10, scoring=scoring_function, verbose=3)
gs.fit(client_features, np.log(bayes_score))

In [ ]:
gs.best_score_

In [ ]:
from sklearn.model_selection import cross_val_predict

pred = cross_val_predict(gs.best_estimator_, client_features, np.log(bayes_score), cv=10)

In [ ]:
import seaborn as sns
%matplotlib inline

In [ ]:
res = pd.concat([np.log(bayes_score), pd.Series(pred, index=bayes_score.index, name='prediction')], axis=1)

In [ ]:
sns.lmplot('Empirical Bayes Ratio', 'prediction', res)

In [ ]:
all_features = get_feature_matrix(subset, clients)

In [ ]:
all_features.apply(lambda k: spearmanr(k, aligned_score.iloc[:,0])[0]).sort_values()

In [ ]:
perc_scoring_function = make_scorer(top_n_match)

In [ ]:
param_grid = {
    'reg__alpha': np.logspace(-5,5,11)
}
gs = GridSearchCV(pipe, param_grid, cv=3, scoring=perc_scoring_function, verbose=3)
gs.fit(all_features.assign(ref_no=referral_no), aligned_score.iloc[:,0])

In [ ]:
gs.best_params_, gs.best_score_

In [ ]:
gs.best_params_, gs.best_score_

In [ ]:
pd.Series(gs.best_estimator_.steps[-1][1].coef_.ravel(), all_features.assign(ref_no=referral_no).columns).sort_values()

# Cutoff Score

In [18]:
referrals = referrals.sort_values('ReferralTakenDate')

In [20]:
referrals

,ReferralInstanceId,StatusId,ReferralOnHold,ReferralTakenDate,ReferralReadyDate,ReferralCollectedDate,ReferralWorkerID,ReferralPreparedWorkerId,ReferralHandedWorkerId,ClientId,...,ReferralDietaryRequirements_Diabetic,ReferralDietaryRequirements_Gluten Intolerant/coeliac,ReferralDietaryRequirements_Halal,ReferralDietaryRequirements_No Pork,ReferralDietaryRequirements_Nut Allergy,ReferralDietaryRequirements_Other Dietary Requirement,ReferralDietaryRequirements_Vegan,ReferralDietaryRequirements_Vegetarian,ReferralDietaryRequirements_lactose intolerent,ReferralDietaryRequirements_pregnancy
499,500,3,0,2013-01-06 00:00:00,01/06/13 00:00:00,01/06/13 00:00:00,4,NaN,NaN,303,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
328,329,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,206,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671,672,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1745,1556,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,1425,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548,549,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,336,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1258,1063,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,678,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,160,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1492,1297,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,827,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
520,521,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,320,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
649,650,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,400,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,216,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,126,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1146,1514,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,954,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
952,953,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,2379,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
853,854,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,538,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1452,1257,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,798,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
924,925,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,589,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1217,1022,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,651,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1501,1306,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,834,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1444,1249,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,794,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
685,686,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,419,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
745,746,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,461,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,197,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,119,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1101,1469,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,927,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
627,628,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,388,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
423,424,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,261,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
247,248,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,147,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
439,440,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,1056,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1143,1511,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,951,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1209,1014,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,5029,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
950,951,3,0,2013-02-13 00:00:00,02/13/13 00:00:00,02/13/13 00:00:00,4,NaN,NaN,603,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17950,17951,3,0,2017-04-10 12:43:00,04/10/17 00:00:00,04/10/17 00:00:00,19,26.0,26.0,5487,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17951,17952,3,0,2017-04-10 12:55:00,04/10/17 13:22:00,04/10/17 13:22:00,19,26.0,26.0,3268,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17952,17953,2,0,2017-04-10 12:55:00,04/10/17 13:51:00,NaN,30,26.0,NaN,5950,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17953,17954,3,0,2017-04-10 13:06:00,04/10/17 14:26:00,04/10/17 14:29:00,30,26.0,26.0,2810,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17954,17955,3,0,2017-04-10 13:16:00,04/10/17 13:54:00,04/10/17 13:54:00,35,26.0,26.0,1870,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17955,17956,3,0,2017-04-10 13:22:00,04/10/17 14:56:00,04/10/17 14:56:00,30,26.0,26.0,5201,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17956,17957,3,0,2017-04-10 13:32:00,04/10/17 14:44:00,04/10/17 14:44:00,30,26.0,26.0,5461,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17957,17958,3,0,2017-04-10 13:35:00,04/10/17 15:02:00,04/10/17 15:02:00,35,26.0,26.0,5385,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17958,17959,3,0,2017-04-10 13:37:00,04/10/17 15:09:00,04/10/17 15:09:00,30,26.0,26.0,4435,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17959,17960,3,0,2017-04-10 13:44:00,04/10/17 14:03:00,04/10/17 14:03:00,30,26.0,26.0,5951,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17960,17961,3,0,2017-04-10 13:52:00,04/10/17 15:12:00,04/10/17 15:12:00,35,26.0,26.0,5564,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17961,17962,3,0,2017-04-10 14:11:00,04/10/17 14:12:00,04/10/17 14:12:00,30,30.0,30.0,5877,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17962,17963,3,0,2017-04-10 14:15:00,04/10/17 15:21:00,04/10/17 15:22:00,35,26.0,26.0,4496,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17963,17964,3,0,2017-04-10 14:54:00,04/10/17 00:00:00,04/10/17 00:00:00,35,26.0,26.0,5178,...,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17964,17965,3,0,2017-04-10 14:57:00,04/10/17 15:55:00,04/10/17 15:55:00,30,26.0,26.0,4801,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17965,17966,1,0,2017-04-10 15:57:00,NaN,NaN,30,NaN,NaN,5838,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17966,17967,3,0,2017-04-10 16:21:00,04/10/17 16:22:00,04/10/17 16:22:00,1,26.0,26.0,5036,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17967,17968,3,0,2017-04-11 10:11:00,04/11/17 12:43:00,04/11/17 12:43:00,6,26.0,26.0,3870,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17968,17969,1,0,2017-04-11 10:58:00,NaN,NaN,1,NaN,NaN,5952,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17969,17970,3,0,2017-04-11 11:28:00,04/11/17 11:57:00,04/11/17 11:57:00,21,26.0,26.0,5953,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17970,17971,3,0,2017-04-11 11:46:00,04/11/17 12:58:00,04/11/17 12:58:00,21,26.0,26.0,2337,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17971,17972,3,0,2017-04-11 11:53:00,04/11/17 13:03:00,04/11/17 13:03:00,1,26.0,26.0,3378,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17972,17973,3,0,2017-04-11 12:05:00,04/11/17 14:10:00,04/11/17 14:10:00,21,26.0,26.0,3269,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17973,17974,3,0,2017-04-11 12:27:00,04/11/17 13:53:00,04/11/17 13:53:00,6,26.0,26.0,3005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17974,17975,3,0,2017-04-11 13:17:00,04/11/17 14:34:00,04/11/17 14:34:00,18,26.0,26.0,2099,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17975,17976,3,0,2017-04-11 13:31:00,04/11/17 13:52:00,04/11/17 13:52:00,15,26.0,26.0,4571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17976,17977,1,0,2017-04-11 14:07:00,NaN,NaN,15,NaN,NaN,1670,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,NaN,NaN
17977,17978,3,0,2017-04-11 14:13:00,04/11/17 14:39:00,04/11/17 14:39:00,18,26.0,26.0,478,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17978,17979,1,0,2017-04-11 14:19:00,NaN,NaN,15,NaN,NaN,4815,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17979,17980,1,0,2017-04-11 14:21:00,NaN,NaN,18,NaN,NaN,5927,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Each Point Calculation

In [21]:
from tqdm import tqdm_notebook
from sklearn.model_selection import train_test_split

In [22]:
def look_ahead_ratios(referrals, window=365, break_length=28, break_coefficient=1, min_beta_fit_days=90):
    all_ratios = []
    for i in tqdm_notebook(range(1, int(referral_no.max()))):
        segment = referrals.loc[referral_no==i,:]
        reference_date = segment.set_index('ClientId')['ReferralTakenDate']
        referrals = referrals.assign(reference_date=reference_date.loc[referrals.ClientId].values)
        date_diff = (referrals['ReferralTakenDate']-referrals['reference_date']).dt.days
        year_range = referrals[(date_diff > 0) & (date_diff <= window)]

        gaps = (year_range.sort_values('ReferralTakenDate').groupby('ClientId')['ReferralTakenDate'].diff().dt.days > break_length).groupby(year_range['ClientId']).sum()
        days_active = ((year_range['ReferralTakenDate'].max() - year_range.groupby('ClientId')['ReferralTakenDate'].min()).dt.days + 7).clip(0, window)
        weeks_active = days_active / 7
        counts = (year_range.groupby('ClientId').size())
        simple_ratio = (counts - gaps * break_coefficient) / weeks_active
        segment_ratios = pd.concat([counts, simple_ratio, days_active, gaps, weeks_active], axis=1).loc[segment.ClientId]
        segment_ratios.columns = ['counts', 'simple', 'days', 'gaps', 'weeks']
        segment_ratios.index = segment.index
        all_ratios.append(segment_ratios)

    all_ratios_df = pd.concat(all_ratios)

    a, b, loc, scale = beta.fit(all_ratios_df[all_ratios_df['days'] > min_beta_fit_days]['simple'].values)

    adjusted_ratio = ((all_ratios_df['counts'] - all_ratios_df['gaps'] * break_coefficient + a) / (all_ratios_df['weeks'] + a + b)).sort_values()
    score_df = pd.concat([all_ratios_df, adjusted_ratio], axis=1)
    return score_df.sort_values(0).dropna()

In [23]:
look_ahead_score = look_ahead_ratios(referrals.sort_values('ReferralTakenDate'))

/Users/jamesgin/.virtualenvs/datasine/lib/python3.5/site-packages/ipykernel_launcher.py:15: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  from ipykernel import kernelapp as app
/Users/jamesgin/.virtualenvs/datasine/lib/python3.5/site-packages/ipykernel_launcher.py:6: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

/Users/jamesgin/.virtualenvs/datasine/lib/python3.5/site-packages/scipy/stats/_continuous_distns.py:427: RuntimeWarning: invalid value encountered in sqrt
  sk = 2*(b-a)*np.sqrt(a + b + 1) / (a + b + 2) / np.sqrt(a*b)
/Users/jamesgin/.virtualenvs/datasine/lib/python3.5/site-packages/scipy/optimize/minpack.py:161: RuntimeWarning: The iteration is not making good progress, as measured by the
  improvement from the last ten iterations.
  warnings.warn(msg, RuntimeWarning)

In [26]:
def calc_look_ahead_stats(referrals, window=365, break_length=28, break_coefficient=1, min_beta_fit_days=90):
    all_ratios = []
    referral_no = referrals.assign(count=1).groupby('ClientId').expanding()['count'].sum()
    referral_no = referral_no.reset_index().set_index('level_1')['count']
    referrals['referral_no'] = referral_no.loc[referrals.index]
    for i in tqdm_notebook(range(1, int(referral_no.max()))):
        # Grab the segment for each no of referrals
        segment = referrals.loc[referral_no==i,:]
        reference_date = segment.set_index('ClientId')['ReferralTakenDate']
        referrals = referrals.assign(reference_date=reference_date.loc[referrals.ClientId].values)
        date_diff = (referrals['ReferralTakenDate']-referrals['reference_date']).dt.days
        year_range = referrals[(date_diff > 0) & (date_diff <= window)]
        
        gaps = (year_range.sort_values('ReferralTakenDate').groupby('ClientId')['ReferralTakenDate'].diff().dt.days > break_length).groupby(year_range['ClientId']).sum()
        days_active = ((year_range['ReferralTakenDate'].max() - year_range.groupby('ClientId')['ReferralTakenDate'].min()).dt.days + 7).clip(0, window)
        weeks_active = days_active / 7
        counts = (year_range.groupby('ClientId').size())
        simple_ratio = (counts - gaps * break_coefficient) / weeks_active
        segment_ratios = pd.concat([counts, simple_ratio, days_active, gaps, weeks_active], axis=1).loc[segment.ClientId]
        segment_ratios.columns = ['counts', 'simple', 'days', 'gaps', 'weeks']
        segment_ratios.index = segment.index
        # Fill in details for last referral per client
        segment_ratios['counts'] = segment_ratios['counts'].fillna(0)
        segment_ratios['gaps'] = segment_ratios['gaps'].fillna(0)
        segment_ratios['days'] = segment_ratios['days'].fillna(((segment['ReferralTakenDate'].max() 
                                   - segment['ReferralTakenDate']).dt.days + 7).clip(0, window))
        segment_ratios['weeks'] = segment_ratios['weeks'].fillna(segment_ratios['days']/7)
        segment_ratios['simple'] = segment_ratios['simple'].fillna(0)
        all_ratios.append(segment_ratios)
    all_ratios_df = pd.concat(all_ratios).loc[referrals.index]
    
    referrals[all_ratios_df.columns] = all_ratios_df
    return referrals

In [27]:
referrals2 = referrals.pipe(calc_look_ahead_stats)

/Users/jamesgin/.virtualenvs/datasine/lib/python3.5/site-packages/ipykernel_launcher.py:19: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
/Users/jamesgin/.virtualenvs/datasine/lib/python3.5/site-packages/ipykernel_launcher.py:10: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  # Remove the CWD from sys.path while we load stuff.

/Users/jamesgin/.virtualenvs/datasine/lib/python3.5/site-packages/ipykernel_launcher.py:30: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

In [30]:
referrals2 = referrals2[referrals2['weeks']>52]

In [36]:
referrals2 = referrals2.sort_values('ReferralTakenDate')

In [37]:
referrals2.to_csv('cutoff_referral_score.csv')

# Results Exploration

In [32]:
from sklearn.model_selection import TimeSeriesSplit

In [38]:
all_features = get_feature_matrix(referrals2, clients)

/Users/jamesgin/.virtualenvs/datasine/lib/python3.5/site-packages/ipykernel_launcher.py:6: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

In [39]:
all_features

,DependantNumber,LivingWithPartner,current_reasons_ReferralDomesticCircumstances_Cooking - All Facilities,current_reasons_ReferralDomesticCircumstances_Cooking - Hob,current_reasons_ReferralDomesticCircumstances_Cooking - Kettle,current_reasons_ReferralDomesticCircumstances_Cooking - Microwave,current_reasons_ReferralDomesticCircumstances_Non-Cook - NFA,current_reasons_ReferralDomesticCircumstances_Non-Cook - Non-cook at home,current_documents_ReferralDocument_Benefit Issue letter,current_documents_ReferralDocument_Crime Number,...,LocalityDescription_Waterloo; Huddersfield,LocalityDescription_nan,ResidencyDescription_Asylum Seeker,ResidencyDescription_Destitute,ResidencyDescription_Migrant,ResidencyDescription_New to area,ResidencyDescription_North Kirklees,ResidencyDescription_Refugee with leave to stay,ResidencyDescription_South Kirklees Resident,ResidencyDescription_nan
499,0,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
196,4,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
627,0,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
423,1,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
247,1,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
439,1,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
1143,0,0,False,False,False,False,False,False,False,False,...,0,1,0,0,0,0,0,0,0,1
1209,0,0,False,False,False,False,False,False,False,False,...,0,1,0,0,0,0,0,1,0,0
745,0,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
950,4,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
885,0,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
235,1,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
1293,0,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
1113,0,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
450,0,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,1,0
1111,1,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
242,4,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
1425,0,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,1,0
685,4,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
1101,0,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
1501,0,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
328,0,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
671,2,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
1745,5,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
548,1,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
1258,0,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,1,0
1444,2,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
1492,0,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
520,2,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
159,1,0,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12467,1,0,False,False,True,True,False,False,False,False,...,0,0,1,0,0,0,0,0,0,0
12468,0,0,True,False,False,False,False,False,False,False,...,0,1,0,0,0,0,0,0,0,1
12469,0,0,True,False,False,False,False,False,False,False,...,0,1,0,0,0,0,0,1,0,0
12470,0,0,True,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,1,0
12472,1,0,True,False,False,False,False,False,False,False,...,0,1,0,0,0,0,0,0,0,1
12475,0,0,True,False,False,False,False,False,False,False,...,0,0,1,0,0,0,0,0,0,0
12479,2,1,True,False,False,False,False,False,False,False,...,0,1,1,0,0,0,0,0,0,0
12481,0,0,True,False,False,False,False,False,False,False,...,0,0,1,0,0,0,0,0,0,0
12488,0,0,True,False,False,False,False,False,False,False,...,0,1,0,0,0,0,0,0,0,1
12490,0,0,True,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,1,0
12491,0,0,True,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,1,0
12495,0,0,True,False,False,False,False,False,False,False,...,0,1,0,0,0,0,0,0,1,0
12498,0,0,True,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,1,0
12513,0,0,True,False,False,False,False,False,False,False,...,0,1,0,0,0,0,0,0,0,1
12519,2,0,True,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
12523,0,0,True,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,1,0
12525,0,0,True,False,False,False,False,False,False,False,...,0,0,1,0,0,0,0,0,0,0
12527,0,0,True,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,1,0,0
12528,0,0,True,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
12531,0,0,True,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,1,0
12537,0,0,True,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
12539,0,0,True,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,1,0
12545,0,0,True,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
12546,0,1,True,False,False,False,False,False,False,False,...,0,1,0,0,0,0,0,0,1,0
12550,0,0,True,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
12552,1,1,True,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
12553,1,0,True,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
12556,2,1,True,False,False,False,False,False,False,False,...,0,1,1,0,0,0,0,0,0,0
12557,0,0,True,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1
12560,1,0,True,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,1

In [494]:
X = referral_no.to_frame()

level_1
0        1.0
1        2.0
2        3.0
1860     4.0
1986     5.0
2269     6.0
2396     7.0
3        1.0
4        2.0
5        1.0
6        1.0
5653     2.0
8        1.0
9        1.0
6897     2.0
7395     3.0
10       1.0
11       1.0
12       2.0
2739     3.0
2841     4.0
2981     5.0
15005    6.0
15342    7.0
15763    8.0
13       1.0
14       2.0
15       3.0
17       1.0
9189     2.0
        ...
17847    1.0
17851    1.0
17979    2.0
17853    1.0
17862    1.0
17860    1.0
17864    1.0
17871    1.0
17874    1.0
17947    2.0
17881    1.0
17882    1.0
17883    1.0
17892    1.0
17893    1.0
17896    1.0
17903    1.0
17905    1.0
17907    1.0
17912    1.0
17916    1.0
17918    1.0
17924    1.0
17932    1.0
17937    1.0
17948    1.0
17952    1.0
17959    1.0
17968    1.0
17969    1.0
Name: count, Length: 17980, dtype: float64

In [43]:
referrals2.columns

Index(['ReferralInstanceId', 'StatusId', 'ReferralOnHold', 'ReferralTakenDate',
       'ReferralReadyDate', 'ReferralCollectedDate', 'ReferralWorkerID',
       'ReferralPreparedWorkerId', 'ReferralHandedWorkerId', 'ClientId',
       ...
       'ReferralDietaryRequirements_Vegetarian',
       'ReferralDietaryRequirements_lactose intolerent',
       'ReferralDietaryRequirements_pregnancy', 'referral_no',
       'reference_date', 'counts', 'simple', 'days', 'gaps', 'weeks'],
      dtype='object', length=181)

In [79]:
X, y = all_features.assign(referral_no=referrals2['referral_no']).align(referrals2['simple'], 'inner', axis=0)
# X = X[['referral_no']]
sort_index = referrals.loc[X.index].sort_values('ReferralTakenDate').index
X = X.loc[sort_index]
y = y.loc[sort_index]
# X, y = all_features.assign(ref_no=referral_no).align(look_ahead_score[0], 'inner', axis=0)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False)

In [80]:
def top_n_match(x, y, top_n_percent=10):
    p = 100 - top_n_percent
    return ((x > np.percentile(x, p)) == (y > np.percentile(y, p))).mean()

In [81]:
param_grid = {
    'reg__alpha': np.logspace(-5,5,11)
}
gs = GridSearchCV(pipe, param_grid, cv=3, scoring=scoring_function, verbose=3)
gs.fit(X_train, y_train)
print(gs.best_score_)

Fitting 3 folds for each of 11 candidates, totalling 33 fits
[CV] reg__alpha=1e-05 ................................................
[CV] ....... reg__alpha=1e-05, score=0.3238596019792812, total=   1.0s
[CV] reg__alpha=1e-05 ................................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.4s remaining:    0.0s

[CV] ....... reg__alpha=1e-05, score=0.3566711599157679, total=   1.0s
[CV] reg__alpha=1e-05 ................................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    2.7s remaining:    0.0s

[CV] ...... reg__alpha=1e-05, score=0.36639053587340564, total=   1.0s
[CV] reg__alpha=0.0001 ...............................................
[CV] ...... reg__alpha=0.0001, score=0.3238596019792812, total=   1.0s
[CV] reg__alpha=0.0001 ...............................................
[CV] ....... reg__alpha=0.0001, score=0.356668294070451, total=   1.0s
[CV] reg__alpha=0.0001 ...............................................
[CV] ..... reg__alpha=0.0001, score=0.36639055211461075, total=   1.0s
[CV] reg__alpha=0.001 ................................................
[CV] ....... reg__alpha=0.001, score=0.3238596019792812, total=   1.0s
[CV] reg__alpha=0.001 ................................................
[CV] ....... reg__alpha=0.001, score=0.3566683706259015, total=   0.9s
[CV] reg__alpha=0.001 ................................................
[CV] ...... reg__alpha=0.001, score=0.36639281657434114, total=   1.0s
[CV] reg__alpha=0.01 .................................................
[CV] ....... reg__alpha=0.01, score=0.32385852662337405, total=   1.0s
[CV] reg__alpha=0.01 .................................................
[CV] ........ reg__alpha=0.01, score=0.3566547176391299, total=   1.0s
[CV] reg__alpha=0.01 .................................................
[CV] ........ reg__alpha=0.01, score=0.3664081815466183, total=   1.0s
[CV] reg__alpha=0.1 ..................................................
[CV] ........ reg__alpha=0.1, score=0.32388011929249666, total=   1.0s
[CV] reg__alpha=0.1 ..................................................
[CV] ........ reg__alpha=0.1, score=0.35647923440441376, total=   1.0s
[CV] reg__alpha=0.1 ..................................................
[CV] .......... reg__alpha=0.1, score=0.366499287576936, total=   1.0s
[CV] reg__alpha=1.0 ..................................................
[CV] ........ reg__alpha=1.0, score=0.32400562058875165, total=   1.0s
[CV] reg__alpha=1.0 ..................................................
[CV] ......... reg__alpha=1.0, score=0.3555386464274317, total=   1.0s
[CV] reg__alpha=1.0 ..................................................
[CV] ........ reg__alpha=1.0, score=0.36762275551004175, total=   1.0s
[CV] reg__alpha=10.0 .................................................
[CV] .......... reg__alpha=10.0, score=0.32480979342233, total=   1.0s
[CV] reg__alpha=10.0 .................................................
[CV] ........ reg__alpha=10.0, score=0.3560592926702114, total=   1.0s
[CV] reg__alpha=10.0 .................................................
[CV] ....... reg__alpha=10.0, score=0.37753114891742195, total=   1.0s
[CV] reg__alpha=100.0 ................................................
[CV] ....... reg__alpha=100.0, score=0.3310416321109028, total=   1.0s
[CV] reg__alpha=100.0 ................................................
[CV] ....... reg__alpha=100.0, score=0.3643295201782231, total=   1.0s
[CV] reg__alpha=100.0 ................................................
[CV] ...... reg__alpha=100.0, score=0.39319597068047785, total=   1.0s
[CV] reg__alpha=1000.0 ...............................................
[CV] ...... reg__alpha=1000.0, score=0.3571124266287398, total=   1.0s
[CV] reg__alpha=1000.0 ...............................................
[CV] ...... reg__alpha=1000.0, score=0.3941965638150973, total=   1.0s
[CV] reg__alpha=1000.0 ...............................................
[CV] ...... reg__alpha=1000.0, score=0.4286251661165524, total=   1.0s
[CV] reg__alpha=10000.0 ..............................................
[CV] ..... reg__alpha=10000.0, score=0.4128979780320115, total=   1.0s
[CV] reg__alpha=10000.0 ..............................................
[CV] ..... reg__alpha=10000.0, score=0.4354714537213096, total=   1.0s
[CV] reg__alpha=10000.0 ..............................................
[CV] ..... reg__alpha=10000.0, score=0.4552632842267629, total=   1.0s
[CV] reg__alpha=100000.0 .............................................
[CV] ..... reg__alpha=100000.0, score=0.438446561019473, total=   1.0s
[CV] reg__alpha=100000.0 .............................................
[CV] .... reg__alpha=100000.0, score=0.4452749319987442, total=   1.0s
[CV] reg__alpha=100000.0 .............................................
[CV] ... reg__alpha=100000.0, score=0.43592068692567776, total=   1.0s

[Parallel(n_jobs=1)]: Done  33 out of  33 | elapsed:   44.0s finished

0.439880726648

In [82]:
y_test.to_frame().assign(pred=gs.predict(X_test)).corr(method='spearman')

          simple      pred
simple  1.000000  0.440957
pred    0.440957  1.000000

In [83]:
top_10 = y_test.to_frame().assign(pred=gs.predict(X_test)).sort_values('simple').rank(ascending=False) < 100

In [84]:
y_test.to_frame().assign(pred=gs.predict(X_test)).sort_values('simple').rank(ascending=False) < 100

       simple   pred
12560   False  False
10842   False  False
10833   False  False
10830   False  False
10825   False  False
10819   False  False
10814   False  False
10847   False  False
10808   False  False
10803   False  False
10802   False  False
10798   False  False
10797   False  False
10792   False  False
10787   False  False
10805   False  False
12389   False  False
10849   False  False
10858   False  False
10914   False  False
10913   False  False
10909   False  False
10907   False  False
10904   False  False
10900   False  False
12557   False  False
10896   False  False
10885   False  False
10883   False  False
10880   False  False
...       ...    ...
10367    True   True
10281    True   True
10138    True   True
10023    True  False
12432    True  False
12302    True  False
9902     True   True
9775     True  False
12219    True  False
9664     True  False
12139    True  False
12062    True  False
11743    True  False
11670    True  False
10776    True   True
10459    True   True
10660    True   True
12467    True   True
11048    True   True
12258    True   True
11245    True   True
12050    True   True
11960    True   True
11641    True   True
11562    True   True
11467    True   True
11353    True   True
12345    True   True
12171    True   True
12438    True   True

[2362 rows x 2 columns]

In [85]:
top_10[top_10['simple']]['pred'].mean()

0.61224489795918369

In [103]:
test = referrals2[referrals2['ClientId']==2]

In [107]:
test.set_index('ReferralTakenDate').resample('1W').asfreq()

,ReferralInstanceId,StatusId,ReferralOnHold,ReferralReadyDate,ReferralCollectedDate,ReferralWorkerID,ReferralPreparedWorkerId,ReferralHandedWorkerId,ClientId,PartnerName,...,ReferralDietaryRequirements_Vegetarian,ReferralDietaryRequirements_lactose intolerent,ReferralDietaryRequirements_pregnancy,referral_no,reference_date,counts,simple,days,gaps,weeks
ReferralTakenDate,,,,,,,,,,,,,,,,,,,,,
2014-02-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2014-02-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2014-02-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2014-02-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2014-03-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2014-03-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2014-03-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2014-03-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2014-03-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2014-04-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2014-04-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2014-04-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2014-04-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2014-05-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2014-05-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2014-05-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN

In [493]:
y_test.to_frame().assign(pred=gs.predict(X_test)).sort_values(0).rank(ascending=False)

            0    pred
14043  2398.0  1856.0
14033  2397.0   266.0
14093  2396.0  1912.0
14073  2394.5  1940.0
14151  2394.5  1957.0
14162  2393.0  1741.0
14122  2390.5   534.0
14148  2390.5  2320.0
14111  2390.5  2275.0
14030  2390.5   385.0
14129  2387.5  1530.0
14062  2387.5  2109.0
14147  2385.0    83.0
14149  2385.0  1374.0
14195  2385.0   679.0
14140  2382.5  1513.0
14228  2382.5   527.0
14174  2379.5  1433.0
14076  2379.5  1483.0
14245  2379.5   538.0
14060  2379.5  2334.0
14248  2376.0  2355.0
14242  2376.0  1782.0
14133  2376.0  2382.0
14193  2374.0  1408.0
14194  2373.0  1519.0
14351  2370.5  1999.0
14319  2370.5  1213.0
14303  2370.5  1699.0
14026  2370.5  1531.0
...       ...     ...
15526    30.0   371.0
14713    29.0    54.0
15183    28.0    38.0
15421    27.0   387.0
14644    26.0     7.0
15076    25.0    39.0
15318    24.0   346.0
14626    23.0     2.0
14951    22.0    41.0
15204    21.0   356.0
11888    20.0     1.0
14839    19.0    44.0
15111    18.0   390.0
14362    17.0     8.0
14737    16.0    45.0
14982    15.0   686.0
14243    14.0    57.0
14633    13.0    47.0
14875    12.0   804.0
14118    11.0    60.0
11892    10.0    49.0
14762     9.0   843.0
14451     8.0    50.0
14659     7.0   871.0
14355     6.0    43.0
14543     5.0   917.0
14255     4.0    52.0
14468     3.0  1034.0
14153     2.0    51.0
14052     1.0    55.0

[2398 rows x 2 columns]